*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}

/* navbar styling */

.nav-link {
    transition: transform 0.5s ease-in-out;
}

.nav-link:hover {
    color: rgb(236, 80, 106);
    background-color: whitesmoke;
    transform: translateY(-5px);
}

.btn-style {
    color: white; 
    background-color: rgb(236, 80, 106); 
    font-weight: 600;
    transition: transform 0.5s ease-in-out;
}

.btn-design:hover .btn-style {
    color: white;
    background-color: #d93737;
    transform: scale(1.05);
}



#first{
    background-color: #efdfd8;
    height: 300px;
}
.tips img{
    height: 200px;
    object-fit: cover;
    
}
.tips p{
    text-align: center;
}
.tips h1{
    text-align: center;
}
.anchor a{
    text-decoration: none;
    color: rgb(255, 136, 0);
    border:1px solid   rgb(255, 136, 0);
    padding: 5px 10px;
    
    
}
#first p{
    font-size: 10px;
}
.anchor {
    text-align: center;
}